.iphone-1415-pro-max-1 .rectangle-3 {
  border-radius: 50px;
  position: absolute;
  top: 938px;
  right: 20px;
  width: 202px;
  height: 316px;
}
.iphone-1415-pro-max-1 .rectangle-5 {
  border-radius: 50px;
  position: absolute;
  left: 50%;
  top: 936px;
  translate: -50% 0;
  width: 202px;
  height: 316px;
}
.iphone-1415-pro-max-1 .rectangle-4 {
  border-radius: 50px;
  position: absolute;
  left: 20px;
  top: 938px;
  width: 202px;
  height: 316px;
}
.iphone-1415-pro-max-1 .london-1 {
  margin: 0 7.6px 44px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 64px;
  color: #FFFFFF;
}
.iphone-1415-pro-max-1 .current-x {
  margin-right: 37.8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
.iphone-1415-pro-max-1 .real-feel-x {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
.iphone-1415-pro-max-1 .container-3 {
  margin: 0 16.4px 143px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.iphone-1415-pro-max-1 .container-5 {
  margin: 0 0 44px 9.3px;
  width: 300px;
  height: 236px;
}
.iphone-1415-pro-max-1 .sunny {
  margin: 0 0 201px 4.8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 64px;
  color: #FFFFFF;
}
.iphone-1415-pro-max-1 .sat {
  margin-right: 35px;
  width: 140px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 58px;
  color: #FFFFFF;
}
.iphone-1415-pro-max-1 .sat-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 58px;
  color: #FFFFFF;
}
.iphone-1415-pro-max-1 .mon {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 58px;
  color: #FFFFFF;
}
.iphone-1415-pro-max-1 .container-4 {
  margin: 0 0 7px 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 583.7px;
  box-sizing: border-box;
}
.iphone-1415-pro-max-1 .container {
  margin-bottom: 5px;
  width: 107px;
  height: 105px;
}
.iphone-1415-pro-max-1 .container-6 {
  margin-top: 5px;
  width: 107px;
  height: 105px;
}
.iphone-1415-pro-max-1 .container-9 {
  margin: 4px 0 1px 0;
  width: 125px;
  height: 105px;
}
.iphone-1415-pro-max-1 .container-2 {
  margin: 0 5.7px 33px 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 580px;
  box-sizing: border-box;
}
.iphone-1415-pro-max-1 .container-10 {
  margin-right: 24px;
  width: 140px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
}
.iphone-1415-pro-max-1 .container-11 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
}
.iphone-1415-pro-max-1 .container-12 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
}
.iphone-1415-pro-max-1 .container {
  margin: 0 24.3px 102px 27px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 545.5px;
  box-sizing: border-box;
}
.iphone-1415-pro-max-1 .supporting-text {
  overflow-wrap: break-word;
  font-family: var(--m-3-bodylarge-font-family, 'Roboto');
  font-weight: var(--m-3-bodylarge-font-weight, 400);
  font-size: var(--m-3-bodylarge-font-size, 16px);
  letter-spacing: var(--m-3-bodylarge-letter-spacing, 0.5px);
  line-height: var(--m-3-bodylarge-line-height, 1.5);
  color: #49454F;
}
.iphone-1415-pro-max-1 .content {
  display: flex;
  box-sizing: border-box;
}
.iphone-1415-pro-max-1 .icon {
  width: 18px;
  height: 18px;
}
.iphone-1415-pro-max-1 .container-5 {
  border-radius: 100px;
  display: flex;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.iphone-1415-pro-max-1 .trailing-elements {
  margin: 3px 0;
  display: flex;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
.iphone-1415-pro-max-1 .search-bar {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  border: 1px solid #000000;
  background: #D0BCFF;
  margin-right: 14.7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 39px 18.5px 39px 3.5px;
  width: 582px;
  box-sizing: border-box;
}
.iphone-1415-pro-max-1 .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 596.7px;
  height: fit-content;
  box-sizing: border-box;
}
.iphone-1415-pro-max-1 .london {
  position: absolute;
  left: 50%;
  top: 80px;
  translate: -50% 0;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 64px;
  color: #FFFFFF;
}
.iphone-1415-pro-max-1 {
  background: linear-gradient(0deg, #880894, #560D84, #231274);
  display: flex;
  padding: 80px 54.3px 116px 57px;
  width: 708px;
  box-sizing: border-box;
}
